<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <div class="container pt-4">
        <h1 class="display">Parece que a página que tentou acessar não existe!</h1>
        <h2 class="text-danger"><b>404 NOT FOUND</b></h2>
        <p ><b>Volte para a página principal com o botão a baixo</b></p>
        <a class="btn btn-success" href="/">HOME</a>
    </div>
</body>
</html>